body {
	background-color: silver;	
}
.page-container {
	border: solid 1px black;
	background-color: #fff;
}
footer {
	color: silver;
}
.navbar-static-bottom {
	border-radius: 0px;
	margin: 0px;
}
#explications {
	border-bottom: solid 1px #EEE;
	overflow: hidden;
}
#demo-container {
	padding: 0 0 15px 0;
}
.container {
	max-width:1100px;
	width: 100%;
}